p{
	color: black;
	font-size: 25px;
	text-align: center;
	width: 30%;
	height: 10%;
	margin: auto;
	background: whitesmoke;
}

input{
	width: 50%;
	height: 50px;
	margin: auto;
	background: white;
	outline: none;
	font-size: 20px;
}