*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow: hidden;
}
#seven{
    width: 100vw;
    height: 85vh;
    background-color: rgb(26, 41, 26);
    margin: 15vh 0 0 0;
    position: relative;
    svg{
        background-color: red;
        position: relative;
        left: 25vw;
        top: -36vh;
        polygon{
            background-color: brown;
            margin: auto;
        }
    }

    .side-bar{
        width: 25vw;
        height: 80%;
        border: 1px solid white;
        position: absolute;
        top:3vh;
        display: block;
        .container{
            width: 100%;
            height: 25%;
            border: 1px solid blue;
        }
        .one{
            background-color: blue;
        }
        .two{
            background-color: rgb(233, 127, 89);
        }
        .three{
            background-color: green;
        }
        .four{
            background-color: yellow;
        }
    }

    .wbg{
        width: 87vw;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        left: 3vw;
        bottom: -27vh;
    }
}

.seven{
    width: 200px;
    height: 200px;
    margin: 5vh auto;
    background-color: rgb(233, 127, 89);
    position: relative;
    border-radius: 50%;
    // animation: seven 3s infinite linear forwards;
    .logo{
        width: 150px;
        height: 150px;
        border: 4px solid green;
        border-radius: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        left: 16%;
        opacity: 0.9;
        background-color: white;
        .span0{
            font-size: 100px;
            color: rgb(3, 75, 3);
            position: relative;
            left: -30px;
        }
        p{
            text-transform: capitalize;
            position:relative;
            left: -105px;
            top: 26px;
            font-size: 20px;
            color: rgb(3, 75, 3);
            &::first-letter{
                font-size: 130px;
                position: relative;
                // top: 400px;
            }
            .span1{
                position: absolute;
                top: 60px;
                left: 65px;
                text-transform: lowercase;
                transform: rotateZ(-7deg);
            }
            .span2{
                position: absolute;
                top: 88px;
                left: 84px;
                text-transform: lowercase;
                transform: rotateZ(-7deg);
            }
        }
        
    }
}

@keyframes seven{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

#canvas{
    border: 1px solid black;
    margin: 0 10%;
}