/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(rgba(90, 67, 24,0.7), rgba(61, 27, 27,0.8), rgb(68, 61, 61), rgb(65, 63, 63));
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}