<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz</title>
    <link rel="stylesheet" href="./vue.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/tailwind/css/all.min.css">
    <style>
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<script src="./vue.js"></script>
<body>
    <div class="bg-gradient-to-t from-blue-400 via-dark-green-300 to-purple-500 d-flex flex-row justify-evenly items-center h-screen w-screen" id="App" style="display: flex; justify-content: space-between; align-items: flex-start;">

        <div class="form-container w-1/2 m-auto bg-whitesmoke rounded-lg relative top-20 my-5 bg-white opacity-80" style="width: 35vw; box-shadow: 0px 3px 3px white, 0 1px 1px whitesmoke;  height: 45vh;">
            <form class="login-form-section w-full d-flex flex-col justify-center items-center px-5 py-2">
                <input type="text" class="form-inputs p-3 outline-none bg-gray-200 border rounded-3xl my-2 w-full text-black hover:bg-white hover:ring-3 hover:ring-purple-600 hover:ring-opacity-100 hover:border-purple-600 hover:border-3" placeholder="Enter your name" v-model="Name" style="white-space: pre-line;">
                <input type="text" class="form-inputs p-3 outline-none bg-gray-200 border rounded-3xl my-2 w-full text-black hover:bg-white hover:ring-3 hover:ring-purple-600 hover:ring-opacity-100 hover:border-purple-600" placeholder="Enter your email" v-model="email">
                <input type="text" class="form-inputs p-3 outline-none bg-gray-200 border rounded-3xl my-2 w-full text-black hover:bg-white hover:ring-3 hover:ring-purple-600 hover:ring-opacity-50 hover:border-purple-600 hover:border-3" placeholder="Enter your username" v-model='username'>
             </form>
           
        </div>
        <div class="form-container w-2/3 m-auto rounded-lg border-0 relative" style="width: 35vw; height: 45vh; box-shadow: 1px 2px 2px 2px white, 0 1px 1px whitesmoke; position: relative; top: -10vh;">
            <form class="login-form-output w-full border-0 d-flex flex-col justify-center items-center px-8 py-5 rounded">
                <input type="text" class="form-inputs p-3 outline-none bg-white  border-b-3 border-red-100 rounded-3xl text-black w-full my-3 hover:bg-gray-300 hover:ring-3 hover:ring-purple-600 hover:ring-opacity-50 hover:outline-none" placeholder="typing..." v-bind:value="Name">
                <input type="text" class="form-inputs p-3 outline-none bg-white border rounded-3xl text-black w-full  my-3 hover:bg-gray-300 hover:ring-3 hover:ring-purple-600 hover:ring-opacity-50" placeholder="typing..." :value='email'>
                <input type="text" class="form-inputs p-3 outline-none bg-white border rounded-3xl text-gray-700 w-full my-3 hover:bg-gray-300 hover:ring-3 hover:ring-purple-600 hover:ring-opacity-50" placeholder="typing..." :value='username'>
            </form>
        </div>

    </div>

    <script>
        new Vue({
            el: "#App",
            data: {
                Name: "",
                email: "",
                username: ""
            },
            methods: {

            }
        })    </script>
    <!-- prepare presentation on v-if v-for and v-model -->
</body>
</html>